# Raw JSON Data to Time Series DataFrame
#### Load Json Data

In [17]:
# Imports
from datetime import datetime
import json
import pandas as pd

In [4]:
# Load JSON Data and merge posts into one list of dicts
json_data = list()
for i in range(4):
    with open(f'.\..\..\Data\Pushshift_IO\Take_2\wsb_data_{i+1}.json') as d:
        json_data += json.load(d)['data']

#### Create Data From Data

In [13]:
df = pd.DataFrame.from_dict(json_data)

In [14]:
df.head()

                                               title  created_utc
0  Fed funds 4.6% from Summary of Economics Proje...   1666265085
1  Me with my TSLA 10/21 220 C I held through ear...   1666265075
2  A new tactic from bagholders - Set up a gofund...   1666264841
3  Fed funds 4.6% from Summary of Economics Proje...   1666264781
4  Can someone give me some knowledge on why 366 ...   1666264287

In [19]:
start_date = datetime.fromtimestamp(df.created_utc.min())
end_date = datetime.fromtimestamp(df.created_utc.max())
print(f"The dataset is from {start_date} to {end_date} and has {df.shape[0]} datapoints.")

The dataset is from 2020-12-01 06:41:14 to 2022-10-20 13:24:45 and has 1459699 datapoints.

#### Create Time Series

In [21]:
# Puts datapoints into daily bins
df['date'] = df['created_utc'].map(
    lambda timestamp: datetime.fromtimestamp(timestamp).date()
)

In [ ]:
# Aggregate all Posts form the same day (string concat)
aggregation_dict = {'title':'sum'}
df = df.groupby(df['date']).aggregate(aggregation_dict)

#### Text Processing

In [ ]:
target_words = ['GME', 'GameStop', 'Game Stop', 'gamestop', 'game stop']

In [ ]:
# Compute accumulated target word frequency as feature
df['word_count'] = df['title'].map(
    lambda title: sum([title.count(word) for word in target_words])
)

In [ ]:
df.head()